* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-weight: bold;
}

body {
    font-family: Poppins;
    height: 100vh;
    background-color: #1f2833;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    background-color: #0b0c10;
    color: #66fcf1;
    font-size: 15px;
}

#header-title {
    margin: 0px auto;
    text-align: center;
    text-shadow: 1px 1px 3px #05e1d2;
}

#content {
    background-color: #1f2833;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
}

#time {
    margin: 35px 0px;
    color: #d8d8d8;
    font-size: 20px;
}

th {
    padding: 20px 30px;
    background-color: #05e1d2;
    color: #0b0c10;
    border: 1px solid #1f2833;
}

td {
    padding: 20px 30px;
    text-align: center;
    background-color: rgba(87, 112, 142, 0.1);
    color:#c5c6c7;
    transition: all 0.2s;
    outline-offset: -2px;
}

td:hover {
    outline: 1px solid #05e1d2;
    box-shadow: 0px 0px 3px #05e1d2;
}

td a {
    color: #c5c6c7;
}

td a:hover {
    text-decoration: underline;
}

table {
    border-collapse: collapse;
}

@media screen and (max-width: 860px) {
    td, th {
        padding: 20px 25px;
    }
}

@media screen and (max-width: 810px) {
    td, th {
        padding: 15px 15px;
    }
}

@media screen and (max-width: 700px){
    td, th {
        padding: 15px 10px;
        font-size: 15px;
    }
} 

@media screen and (max-width: 600px) {
    td, th {
        padding: 15px 10px;
        font-size: 13px;
    }
}

@media screen and (max-width: 540px) {
    td, th {
        padding: 15px 8px;
        font-size: 12px;
    }

    #time {
        font-size: 17px;
    }
}

@media screen and (max-width: 510px) {
    td, th {
        padding: 15px 8px;
        font-size: 11px;
    }
}

@media screen and (max-width: 460px) {
    td, th {
        padding: 15px 5px;
    }

    #time {
        font-size: 16px;
    }
}

@media screen and (max-width: 410px) {
    td, th {
        padding: 14px 3px;
        font-size: 10px;
    }
}

@media screen and (max-width: 430px) {
    td, th {
        padding: 14px 2px;
    }

    header {
        font-size: 13px;
    }
}

@media screen and (max-width: 360px) {
    td, th {
        padding: 13px 1px;
        font-size: 10px;
    }
}

@media screen and (max-width: 340px) {
    td, th {
        padding: 13px 0px;
        font-size: 9px;
    }
}

@media screen and (max-height: 800px) {
    td, th {
        padding-top: 17px;
        padding-bottom: 17px;
    }
}

@media screen and (max-height: 755px) {
    header {
        font-size: 13px;
    }

    #time {
        margin: 30px 0px;
        font-size: 18px;
    }

    td, th {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

@media screen and (max-height: 710px){
    header {
        font-size: 11px;
    }

    #time {
        margin: 25px 0px;
        font-size: 15px;
    }
    
    td, th {
        padding-top: 14px;
        padding-bottom: 14px;
    }
}

@media screen and (max-height: 680px) {
    td, th {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}


@media screen and (max-height: 580px) {
    td, th {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}
@media screen and (max-height: 550px) {
    header {
        font-size: 10px;
    }

    #time {
        margin: 20px 0px;
    }
}

.current {
    border: 1px solid #05e1d2;
    box-shadow: 0px 0px 2px #05e1d2;
}